.container {

    background-color: rgb(147, 178, 236);
 

}

#uno{
    padding-left: 35px;
    padding-right: 35px;
    background-color: rgb(95, 138, 218);
    border-bottom: 1px rgb(31, 27, 51) solid;

}
#boton{
    border: 2px solid rgb(111, 148, 216);
    float: right;
}