<br>
<div class="container" id="uno">
    <br>
    <div class="container" *ngIf="experienciaLaboral">
        <br>
        <div class="row">
            <div>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombreExpLaboral">Experiencia laboral como:</label>
                        <input type="text" class="form-control" id="nombreExpLaboral" name="nombreExpLaboral"
                            [(ngModel)]="experienciaLaboral.nombreExpLaboral" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionExpLaboral">Descripcion de la tarea:</label>
                        <input type="text" class="form-control" id="descripcionExpLaboral" name="descripcionExpLaboral"
                            [(ngModel)]="experienciaLaboral.descripcionExpLaboral" required>
                    </div>
                    <br>
                    <button class="btn btn-primary" id="boton">
                        Actualizar
                    </button>

                </form>

            </div>

        </div>
        <br>
    </div>

    <br>
</div>